<section class="gamelist">
  <h4>My Games</h4>
  <div ng-repeat="game in games | filter: user.username">
    <strong>{{ game.name }}</strong><br />
    Host: {{ game.creator.username }} | Created: {{ game.created | date: short }}
    <button type="button" ng-click="deleteGame(game._id)">Delete Game</button>
  </div>
</section>

<section class="newgame">
    <h4>Create Game</h4>
  <input type="text" ng-model="newGame.name" placeholder="Game Name">
  <input type="hidden" required ng-model="newGame.creator" ng-init="newGame.creator=user.id">
  <button type="button" ng-click="createGame(newGame)">Create Game</button>
</section>
