<section class="heroimage">
    <h2 class="title">{{ title }}</h2>
    <input class="search" type="search" ng-model="q" placeholder="filter golfers..." aria-label="filter golfers" />
</section>
<section class="golfers">
    <div class="golfer" ng-repeat="golfer in golfers | filter:q | orderBy: 'last_name'">
        <div class="rank">
            {{ golfer.height }}
        </div>
        <p>
            {{ golfer.first_name }}
            {{ golfer.last_name }}<br>
            <em id="country">{{ golfer.country}}</em>
            {{ golfer.proInfo }}
        </p>
    </div>
</section>
