<aside class="id">
  <events></events>
  <div ng-if="user" id="idcard">
      <p>
        My Location:<br>
    <em id="country">{{ profile._json.location }}</em></p><br>
  </div>
  <div ng-if="user" class="sidenav">
    <!-- <ul>
      <li ng-if="user.username"><a class="button" href="/logout">logout</a></li>
      <li ng-if="!user.admin"><a class="button" href="/">admin</a></li>
    </ul> -->
      <a class="button" ng-if="user.username" href="/logout">logout</a>
      <a class="button" ng-if="!user.admin" href="/">admin</a>
  </div>
</aside>
<section class="home">
  <game-list></game-list>
</section>

<!-- <div class="games">
  Current Games
    <ul>
      <li>Masters</li>
      <li>U.S. Open</li>
      <li>The Open Championship</li>
      <li>PGA Championship</li>
    </ul>
</div> -->
