<header>
  <div class="logo" ui-sref="home">
    <h4>Major Golf</h4>
  </div>
  <nav>
    <ul>
      <li ng-if="!user.username"><a href="http://127.0.0.1:3000/auth/twitter">Sign In</a></li>

      <li><a ui-sref="home">{{ user.username }}</a>
      <ul>
          <li ng-if="user.username" ng-click=""><a href="/logout">logout</a></li>
      </ul></li>
    </ul>
    <img ng-if="user.username" class="avatar" ng-src="{{ profile._json.profile_image_url }}" alt="{{ user.username }}" />
  </nav>
</header>
