@import url(https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Open+Sans:400,700);
$ML: 'Miriam Libre', sans-serif;
$OS: 'Open Sans', sans-serif;
$GREEN: #076652;
$MG: #006b54;

h2 {
  font-family: $ML;
  color: $GREEN;
}
